# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
SESSION_ID=
MONGO_URI=
OWNER_NUMER=
THUMB_IMAGE = "https://telegra.ph/file/ba7201b533cf2264f2237.jpg"
port = 5000
email = "rsstatus004@gmail.com"
AUTO_BIO=false
global_url = "instagram.com"
OWNER_NAME = "rahul debnath"
AUTO_REACTION = false
FAKE_COUNTRY_CODE = 212
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= RAHUL-MD-BOT
WORKTYPE = public
PACK_INFO = "Ř　Å　H　Ü　 L　ツ"
ANTILINK_VALUES = "chat.whatsapp.com"
